.rounded-border {
    border: 5px dashed black;
    background-color: rgb(47, 47, 47);
    border-radius: 20px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.548) !important;
}
.bodybg {
    background-color: rgb(87, 87, 87);
}